    <header>
        <div class="contenedor">
            <div class="logo">
                <img src="http://localhost:8000/img/hg.jpg" alt="">
            </div>
            <nav class="">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/informacion">Hotel</a></li>
                    <li><a href="#">Habitaciones</a></li>
                    <li><a href="#">Gastronomía</a></li>
                    <li><a href="#">Lugares Turísticos</a></li>
                    <li><a href="#">Reservaciones</a></li>
                    <li><a href="#">Contacto</a></li>
            </nav>
        </div>
    </header>