<link rel="stylesheet" href="css/home.css">

{{> navbar}}

<div class="contenedor">
    <p>
        1.jjdjkjjfjdkfdjjdjfjdjfkjdkfjjjkkdkdkkfd

    </p>
    <p>
        2.kkkskdjfjdkfjddkfjkfjkgjfkjfjgjfkgjfkgjfgjkf

    </p>
</div>